* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f1e8;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  text-align: center;
}

.heading {
  font-size: 28px;
  color: #533f26;
  font-family: "Old Standard TT";
  text-align: center;
 
}

.option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #241711;
}

.navigation {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #533f26;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  overflow: hidden;
}


/* banner style start */

.samplebanner{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    overflow: hidden;
}

.boxone{
    background-color: #543e33;
    height: 100%;
    width: auto;
}

.boxone img{
    width: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.boxtwo{
    background-color: #EEE5E0;
    padding: 120px 50px;
    display: flex;
    flex-direction: column;

}


.texta{
  font-family: 'Old Standard TT';
  font-size: 37px;
  color: #6C3E24;
}

.textb{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: #6C3E24;
  padding-top:20px;
}

.textc{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #6C3E24;
  padding-top:10px;
}

/* banner style end */

@media screen and (max-width: 768px) {
  .samplebanner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .boxtwo {
    padding: 60px 30px;
    text-align: left;
  }

  .boxone img {
    width: 100vw;
    height: auto;
  }

  .texta {
    font-size: 28px;
  }

  .textb {
    font-size: 18px;
  }

  .textc {
    font-size: 14px;
  }
}


@media screen and (max-width:992px) {
    .samplebanner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .boxtwo {
    padding: 60px 30px;
    text-align: left;
    width: 100vw;
    height: auto;
  }

  .boxone img {
    width: 100vw;
    height: auto;
  }

  .texta {
    font-size: 28px;
  }

  .textb {
    font-size: 18px;
  }

  .textc {
    font-size: 14px;
  }
    
}


/* text columns start */

/* .information1 {
  background-color: #d5d5d5b5;
  width: 100%;
  height: 400px;
} */

.text1 {
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 600;
  color: #6C3E24;
}

.information2 {
  display: flex;
  flex-direction: row;
  padding: 40px 140px;
  gap: 70px;
}

@media screen and (max-width: 768px) {
  .information2 {
    display: flex;
    flex-direction: column;
  }
}




.text2 {
  font-family: "Segoe UI";
  font-size: 15px;
  color: #6C3E24;
  margin-top: 15px;
  font-weight: 400;
}

/* text columns end */

.item {
  text-align: center;
}

.container {
  margin: 3% 10%;
  display: flex;
  /* grid-template-columns: 346px 346px; 
  grid-template-rows: 189px 189px;     */
  gap: 35px 35px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  /* padding: 0 15% 0 15%; */
}



.explorecollection {
  display: flex;
  flex-direction: row;
  gap: 60px 70px;
  padding: 40px 120px;
  flex-wrap: wrap;
  justify-content: center;
}

.explore {
  background-color: #8e6148;
  height: 300px;
  width: 250px;
  object-fit: fill;
  border-radius: 10px;
  position: relative;
}

.monet {
  display: block;
  width: 100%;
  height: 300px;
  object-fit:cover;
  object-position: top;
  border-radius: 5px;
}


.explore:hover .overlay {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #161e25;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 5px;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-wrap: wrap;
}


.linkitem {
  text-decoration: none;
  font-family: "Old Standard TT";
  color: #e06025;
  font-size: 24px;
}

a:visited {
  color: #533f26;
}

a:link{
    text-decoration: none;
    color: #6C3E24;
}

.icon {
  background-color: #241711;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 10px;
}

.bottomnudge {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.infocard{
  text-align: left;
  color: #6C3E24;
}

.nameofcollection{
  font-family: 'Old Standard TT';
  font-size: 24px;
}

.ctaforcollection{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
}


.item1{
  display: flex;
  flex-direction: column;
  gap: 5px;
}